cffi==1.17.1 ; python_version >= "3.11" and python_version < "4.0"
numpy==2.3.2 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.11" and python_version < "4.0"
sounddevice==0.5.2 ; python_version >= "3.11" and python_version < "4.0"
